[Unit]
Description=scalable web server
After=multi-user.target


[Service]
Type=simple
ExecStart=/usr/bin/env python3 /home/mandevu/Desktop/web-server/main.py



[Install]
WantedBy=multi-user.target

